<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 空间名称 -->
<mapper namespace="com.fu.dao.AdminDao">

    <select id="getAdminById" resultType="com.fu.bean.Admin">
        select * from admin where id = #{id}
    </select>
</mapper>