<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 空间名称 -->
<mapper namespace="com.fu.dao.UserDao">

    <select id="selectById" resultType="com.fu.bean.User">
        select * from user wher id = #{id};
    </select>

    <insert id="addUser" parameterType="com.fu.bean.User">
        insert into user (
        code, password, nickName, sex, createTime,
        <trim suffixOverrides=",">
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phoneNum,
            </if>
            <if test="birthday != null and birthday != ''">
                birthday,
            </if>
            <if test="address != null and address != ''">
                address,
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                imgUrl
            </if>
        </trim>
        ) VALUES (#{code}, #{password}, #{nickName}, #{sex}, #{createTime},
        <trim suffixOverrides=",">
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                #{phoneNum},
            </if>
            <if test="birthday != null and birthday != ''">
                #{birthday},
            </if>
            <if test="address != null and address != ''">
                #{address},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                #{imgUrl}
            </if>
        </trim>
        )
    </insert>

    <select id="getUserByEmail" resultType="com.fu.bean.User">
        select * from user where email = #{email}
    </select>

    <select id="getUserByPhone" resultType="com.fu.bean.User">
        select * from user where phoneNum = #{phone}
    </select>

    <select id="getUserByCode" resultType="com.fu.bean.User">
        select * from user where code = #{code}
    </select>

</mapper>