<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 空间名称 -->
<mapper namespace="com.fu.dao.UserDao">

    <select id="selectById" resultType="com.fu.bean.User">
        select * from user wher id = #{id};
    </select>

    <insert id="addUser" parameterType="com.fu.bean.User">
        insert into user (email, phoneNum, password, code, nickName, sex, birthday, address, imgUrl, createTime)
            VALUES (#{email}, #{phoneNum}, #{password}, #{code}, #{nickName}, #{sex}, #{birthday}, #{address}, #{imgUrl}, #{createTime})
    </insert>

    <select id="getUserByEmail" resultType="com.fu.bean.User">
        select * from user where email = #{email}
    </select>

    <select id="getUserByPhone" resultType="com.fu.bean.User">
        select * from user where phoneNum = #{phone}
    </select>

    <select id="getUserByCode" resultType="com.fu.bean.User">
        select * from user where code = #{code}
    </select>

</mapper>