<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace: 空间名称 -->
<mapper namespace="com.fu.dao.VideoDao">
    <resultMap id="videoListMap" type="com.fu.bean.Video">
        <id property="id" column="vid"/>
        <result property="title" column="title"/>
        <result property="detail" column="detail"/>
        <result property="time" column="time"/>
        <result property="speakerId" column="speaker_id"/>
        <result property="playNum" column="play_num"/>
        <association property="speaker" javaType="com.fu.bean.Speaker">
            <id property="id" column="sid"/>
            <result property="speakerName" column="speaker_name"/>
        </association>
        <association property="course" javaType="com.fu.bean.Course">
            <id property="id" column="cid"/>
            <result property="courseTitle" column="course_title"/>
        </association>
    </resultMap>

    <select id="getVideoList" resultMap="videoListMap">
        select v.id vid, v.title, v.detail, v.time, v.speaker_id, s.id sid, s.speaker_name, c.id cid, c.course_title
            from video v left join speaker s
                on v.speaker_id = s.id
            left join course c
                on v.course_id = c.id
            <where>
                <if test="title != null and title != '' ">
                    <bind name="titleBind" value="'%' + title + '%'" />
                    v.title like #{titleBind}
                </if>
                <if test="courseId != null and courseId != '' ">
                    AND v.course_id = #{courseId}
                </if>
                <if test="speakerId != null and speakerId != '' ">
                    AND v.speaker_id = #{speakerId}
                </if>
            </where>
    </select>

    <insert id="addVideo" parameterType="com.fu.bean.Video">
        insert into video (title, detail, time, speaker_id, course_id, video_url, image_url, play_num)
            value(#{title}, #{detail}, #{time}, #{speakerId}, #{courseId}, #{videoUrl}, #{imageUrl}, 0)
    </insert>

    <delete id="delete">
        delete from video where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateVideo" parameterType="com.fu.bean.Video">
        update video
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="speakerId != null">
                speaker_id = #{speakerId},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="imageUrl != null">
                image_url = #{imageUrl},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl},
            </if>
            <if test="detail != null">
                detail = #{detail}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="getVideoById" resultType="com.fu.bean.Video">
        select * from video where id = #{id}
    </select>



</mapper>